---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bourbon/bourbon";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$accent-color: #1DE9B6;
$accent-color-lighter: #64FFDA;
$accent-color-darker: #00BFA5;

$primary-color: #ee6e73;
$primary-color-lighter: #FFCDD2;
$primary-color-darker: #F44336;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #F99;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

//height of the site-header
$site-header-height: 256px;
$site-header-bar-height: 64px;

// Width of the content area
$content-width:    800px;
$on-phone:          400px;
$on-pad:        800px;


@mixin horizontal-center() {
    margin-left: auto;
    margin-right: auto;
}

@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


@mixin wrapper() {
    @include calc(max-width, "#{$content-width} - (#{$spacing-unit} * 2)");
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @include horizontal-center;
} 

@mixin wrapper-pad() {
    @include media-query($content-width) {
        @include calc(max-width, "#{$content-width} - #{$spacing-unit} - 400px");
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
    

// Use media queries like this:
// @include media-query($on-phone) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "modules/page",
        "modules/post",
        "syntax-highlighting"
;
