---
---

@charset "utf-8";

// lib
@import "bourbon/bourbon";

@import 
    "theme/default",
    "mixin"
;

@import 
  "pages/post/layout/header",
  "pages/post/module/post"
;

.post p {
  line-height: $base-line-height * 1.1;
  letter-spacing: -.003em;
}

/**
 * disqus Commet
 */
#disqus_thread {
    min-height: 170px;    
}

#commentMask {
    position: relative;
    top: -60px;
    height: 60px; 
    background: $background-color;
}
