---
layout: default
---

<div class="home">

  <ul class="postList">
    {% for post in site.posts %}
      <li class="postList-item">
        <article class="post post--simple" >

          <header class="post-header">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" >{{ post.date |  date: "%F %r"  }}</time>{% if post.author %} • <span>{{ post.author }}</span>{% endif %}</p>
          </header>

          <div class="post-content">
            {{ post.excerpt }}
          </div>
          <footer>
            <span class="post-eop"></span>
          </footer>
        </article>
      </li>
    {% endfor %}
  </ul>

 <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
