.foldHeader {
    width: 100%;

    // Positioning context for the mobile navigation icon
    position: relative;

    border-bottom: 1px solid #FFCDD2;
    height: $site-header-height;
    @include linear-gradient( 135deg, #FEB692 0%, $primary-color 100%);

    @include media-query($screen-size-sm) {
        height: $site-header-height / 2;
    }
}

.foldHeader-bar {
    width: 100%;
    height: $site-header-bar-height;
    // background: inherit;
    // background-size: 100% $site-header-height;
    // @include media-query($screen-size-sm) {
    //     background-size: 100% $site-header-height / 2;
    // }

    @include transition-property(transform);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
    
    &--affixed {
        position: fixed;
        top: 0;
        z-index: $zindex-navbar-fixed;
        @include transform(translate3D(0, 0, 0));

        &.is-hidden {
            @include transform(translate3D(0, -100%, 0));
        }
    }
}

.foldHeader {
    .title  {
        @include wrapper();
        line-height: $site-header-bar-height;
        font-size: 18px;
        font-weight: bold;
    }

    .title.title--onBar {
        visibility: hidden;
        margin-left: 30px;
    }
    
    .title.title--huge {
        font-size: 56px; // nornal 18px
        line-height: 1.5;
        position: absolute;
        bottom: 42px;
        left: 0;
        right: 0;

        @include media-query($screen-size-sm) {
            bottom: 21px;
            margin-left: 0px;
            padding-left: $spacing-unit/2;
            font-size: 24px;
        }
    }
}

.is-reveal {
    .title.title--onBar {
        visibility: visible;
    }

    .title.title--huge {
        display: none;
    }
}

.backBtn {
    position: fixed;
    top: 9px;
    left: 12px;
    padding: 0px;
    height: 48px;
    width: 48px;
    z-index: 2;

    @include media-query($screen-size-sm) {
        left: 0px;
    }
}
