.foldHeader {
    width: 100%;

    // Positioning context for the mobile navigation icon
    position: relative;

    background: $primary-color;
    
    border-bottom: 1px solid #FFCDD2;
    height: $site-header-height;

    @include media-query($screen-size-sm) {
        height: $site-header-height/2;
    }
}

.foldHeader-bar {
    width: 100%;
    height: $site-header-bar-height;
    background: inherit;
    @include transition-property(transform);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
    
    &--affixed {
        position: fixed;
        top: 0;
        z-index: $zindex-navbar-fixed;
        @include transform(translate3D(0, 0, 0));

        &.is-hidden {
            @include transform(translate3D(0, -100%, 0));
        }
    }
}

.foldHeader-bar .title {
    @include wrapper();
    position: relative;
    top: 115px;
    font-size: 56px; // nornal 18px
    line-height: 1.5;

    &.stay {
        top: 0;
        line-height: $site-header-bar-height;
        font-size: 18px;
        margin-left: 30px;
    }
    
    @include media-query($screen-size-sm) {
        top: 73px;
        margin-left: 0px;
        padding-left: $spacing-unit/2;
        font-size: 24px;
    }
}

.backBtn {
    position: fixed;
    top: 9px;
    left: 12px;
    padding: 0px;
    height: 48px;
    width: 48px;
    z-index: 2;

    @include media-query($screen-size-sm) {
        left: 0px;
    }
}
