// Our variables
$code-font-family: Monaco, Consolas, Courier New;
$base-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$base-font-size: 1rem;
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$big-font-size:  $base-font-size * 1.125;
$base-line-height: 1.5;

$spacing-unit:     30px;

$accent-color: #1DE9B6;
$accent-color-lighter: #64FFDA;
$accent-color-darker: #00BFA5;

$primary-color: #ee6e73;
$primary-color-lighter: #FFCDD2;
$primary-color-darker: #F44336;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #F99;

$grey-color:       #828282;
$grey-color-lighter: lighten($grey-color, 40%);
$grey-color-darker:  darken($grey-color, 25%);

// Width of the content area
$screen-size-xs:              480px;
$screen-size-sm:             768px;

//height of the site-header
$site-header-height: 256px;
$site-header-bar-height: 64px;

// Width of the content area
$content-width:    800px;
$on-phone:          400px;
$on-pad:        800px;
$screen-size-sm:  767px;

$border-radius:          .25rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;

// z-index
$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-navbar-sticky:     1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
