<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="row footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
         <ul class="social-media-list">
        {% for social in site.data.socials %}
          <li>
            <a href="{{ social.link }}">
              {% include svg-icon.html icon=social.icon size="xs" %}
              <span class="username">{{ social.username  }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
