@each $name, $size in (xs, 18), (sm, 24), (md, 36), (lg, 48) {
  .si-#{$name} > svg {
    height: #{$size}px;
    width: #{$size}px;
  }
}

%horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.row {
    padding-top: $spacing-unit*0.25;
    padding-bottom: $spacing-unit*0.25;
}

.hide {
    display: none;
}

/**
 * Clearfix
 */
 .clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Wrapper
 */
.wrapper {
    @include calc(max-width, "#{$content-width} - (#{$spacing-unit} * 2)");
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %horizontal-center;
    @extend %clearfix;

    @include media-query($on-laptop) {
        @include calc(max-width, "#{$content-width} - (#{$spacing-unit})");
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Site header
 */
.siteHeader {
    width: 100%;
    // Positioning context for the mobile navigation icon
    position: relative;
    @include transition-property(transform);
    @include transition-duration(0.3s);
    height: $site-header-bar-height;
    border-bottom: 1px solid #FFCDD2;
}

.siteHeader-bar {
    width: 100%;
    background: $primary-color;
    height: $site-header-bar-height;

    &--affixed {
        position: fixed;
        top: 0;
        @include transform(translate3D(0, 0, 0));

        &.is-hidden{
            @include transform(translate3D(0, -100%, 0));
        }
    }
}

.siteHeader-bar .wrapper {
    @include calc(max-width, "#{$content-width + 300px} - (#{$spacing-unit} * 2)");

    @include media-query($on-laptop) {
        @include  calc(max-width, "#{$content-width} - (#{$spacing-unit})");
    }
}


.title {
    color: white;
    font-size: $base-font-size*1.5;
    font-weight: 300;
    line-height: $site-header-bar-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.siteHeader-bar .page-link {
    color: white;
    line-height: $base-line-height;
}

/**
 * site nav
 */
.site-nav {
    float: right;
    line-height: $site-header-bar-height;

    .menu-icon {
        display: none;
    }

    .page-link {
    
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $primary-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            @include transform(scaleY(0));
            @include transform-origin(right top);
            @include transition-property(transform, opacity);
            @include transition-duration(0.1s);
        }

        &:hover {
            border: 1px solid rgba($primary-color-lighter, .1);

            .trigger {
                display: block;
                @include transform(scaleY(1));
                display: block;
                padding-bottom: 5px;
            }
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * fold header
 */
.foldHeader {
    width: 100%;

    // Positioning context for the mobile navigation icon
    position: relative;

    background: $primary-color;
    

    &--placeholder {
        border-bottom: 1px solid #FFCDD2;
        height: $site-header-height;

        @include media-query($on-palm) {
            height: $site-header-height/2;
        }
    }

}

.foldHeader-bar {
    width: 100%;
    height: $site-header-bar-height;
    background: inherit;
    @include transition-property(transform);
    @include transition-duration(0.3s);

    &--affixed {
        position: fixed;
        top: 0;
        @include transform(translate3D(0, 0, 0));

        &.is-hidden{
            @include transform(translate3D(0, -100%, 0));
        }
    }
}

.foldHeader .title {
    font-size: $base-font-size*3;
    @include transition-property(transform, font-size);
    @include transition-duration(0.2s);
    @include transform(translate3D(0, $site-header-height*0.65, 0));

    @include media-query($on-palm) {
        @include transform(translate3D(0, $site-header-height*0.2, 0));
        font-size: $base-font-size*2;
    }

    &.is-active {
        font-size: $base-font-size*1.5;
        @include transform(translate3D(0, 0, 0));
    }
}

.backBtn {
    position: absolute;
    top: 256-28px;
    left: 150px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    background: $accent-color;
        
    @include media-query($content-width + 265*2) {
           position: static;
           box-shadow: none;
           background: none;
    }

    &.is-active {
        position: static;
        box-shadow: none;
        background: none;
    }
    
}

.postActionsBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;

    &-container {
        position: relative;
        @extend .wrapper;
    }
}

.postActionsFooter {
    
    @include transition-property(transform);
    @include transition-duration(0.3s);

    &--affixed {
        background: white;
        box-shadow: 0 0 1px rgba(0,0,0,.44);
        border-radius: 3px 3px 0 0;
        position: absolute;
        bottom: 0;
        left: $spacing-unit;
        right: $spacing-unit;
        @include transform(translate3D(0, 0, 0));


        @include media-query($on-palm) {
            left: 0;
            right: 0;
        }

        &.is-hidden{
             @include transform(translate3D(0, 100%, 0));
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}

.footer-col{
    float: left;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
    padding-right: $spacing-unit / 2;
    @include calc(width, "35% - (#{$spacing-unit} / 2)");
}

.footer-col-2 {
    padding-right: $spacing-unit / 2;
    @include calc(width, "20% - (#{$spacing-unit} / 2)");
}



@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        @include calc(width, "50% - (#{$spacing-unit} / 2)");
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
       @include calc(width, "100% - (#{$spacing-unit} / 2)");
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    padding-top: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}


/**
 * List
 */
.list {
  margin: 0;  
}

.list-item {
  padding: 5px 15px;

  .btn--iconAndLabel {
    .icon {
      padding-right: 10px;
    }
  }
}
