/**
 * btns
 */
.btn {}

.btn--icon {
    background: transparent;
    border: none;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        outline: none;
        border: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.btn--flavor {
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.btn--iconAndLabel {
    .icon {
      padding-right: 4px;
    }
}
