.postList {
    margin-left: 0;
    list-style: none;

    > .postList-item:not(:last-child) {
        margin-bottom: $spacing-unit;
        border-bottom: 1px solid rgba($primary-color-lighter, 0.25);
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

a.post-link {
    color: inherit;
    display: block;
    font-size: 24px;
    &:hover {
        text-decoration: none;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}