.postList {
  margin-left: 0;
  list-style: none;
  > .postList-item:not(:last-child) {
    margin-bottom: $spacing-unit;
    border-bottom: 1px solid rgba($primary-color-lighter, 0.25);
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

a.post-link {
  color: inherit;
  display: block;
  font-size: 24px;
  &:hover {
    text-decoration: none;
  }
}


/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-pad) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 38px;
    @include media-query($on-pad) {
      font-size: 34px;
    }
  }

  h3 {
    font-size: 32px;
    @include media-query($on-pad) {
      font-size: 28px;
    }
  }

  h4 {
    font-size: 26px;
    @include media-query($on-pad) {
      font-size: 22px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  ul,
  ol,
  dl,
  figure,
  .highlight {
    margin-bottom: 0px;
  }

  p {
    font-size: 20px;
    margin-top: 38px;
    @include media-query($on-pad) {
        font-size: 20px - 4;
        margin-top: 38px - 4;
    }
  }

  blockquote + p,
  p + p {
    margin-top: 29px;
    @include media-query($on-pad) {
        margin-top: 29px - 4;
    }
  }

  h2 + p {
    margin-top: 18px;
    @include media-query($on-pad) {
        margin-top: 18px - 4;
    }
  }

  h3 + p {
    margin-top: 8px;
    @include media-query($on-pad) {
        margin-top: 8px - 2;
    }
  }

  h4 + p {
    margin-top: 6px;
    @include media-query($on-pad) {
        margin-top: 6px - 2;
    }
  }

  blockquote {
    margin-top: 38px;
    @include media-query($on-pad) {
        margin-top: 38px - 4;
    }
  }

  blockquote + blockquote {
    margin-top: 0;
    padding-top: 27px;
    @include media-query($on-pad) {
        padding-top: 27px - 4;
    }
  }

  p + blockquote {
    margin-top: 29px;
    @include media-query($on-pad) {
        margin-top: 29px - 4;
    }
  }

  h2 + blockquote {
    margin-top: 18px;
    @include media-query($on-pad) {
        margin-top: 18px - 4;
    }
  }

  h3 + blockquote {
    margin-top: 12px;
    @include media-query($on-pad) {
        margin-top: 12px - 4;
    }
    
  }

  h4 + blockquote {
    margin-top: 10px;
    @include media-query($on-pad) {
        margin-top: 10px - 2;
    }
  }

  h2 {
    margin-top: 63px;
    @include media-query($on-pad) {
        margin-top: 63px - 8;
    }
  }

  blockquote + h2,
  p + h2 {
    margin-top: 54px;
    @include media-query($on-pad) {
        margin-top: 54px - 8;
    }
  }

  h3 + h2 {
    margin-top: -3px;
  }

  h4 + h2 {
    margin-top: -3px;
  }

  h3 {
    margin-top: 53px;
    @include media-query($on-pad) {
        margin-top: 53px - 8;
    }
  }

  blockquote + h3,
  p + h3 {
    margin-top: 56px;
    @include media-query($on-pad) {
        margin-top: 56px - 8;
    }
  }

  h2 + h3 {
    margin-top: 1px;
  }

  h4 + h3 {
    margin-top: 31px;
    @include media-query($on-pad) {
        margin-top: 31px - 4;
    }
  }

  h4 {
    margin-top: 39px;
    @include media-query($on-pad) {
        margin-top: 39px - 4;
    }
  }

  blockquote + h4,
  p + h4 {
    margin-top: 30px;
    @include media-query($on-pad) {
        margin-top: 30px - 4;
    }
  }

  h2 + h4 {
    margin-top: 3px;
  }

  h3 + h4 {
    margin-top: 31px;
    @include media-query($on-pad) {
        margin-top: 31px - 4;
    }
  }

  title {
    margin-top: 39px;
    @include media-query($on-pad) {
        margin-top: 39px - 4;
    }
  }

  h2 + .subtitle,
  h3 + .subtitle {
    margin-top: 5px;
    margin-bottom: 22px;
    @include media-query($on-pad) {
        margin-top: 5px - 1;
        margin-bottom: 22px - 4;
    }
  }

  .subtitle + h3 {
    margin-top: 45px;
    @include media-query($on-pad) {
        margin-top: 45px - 6;
    }
  }

  title + p {
    margin-top: 10px;
    @include media-query($on-pad) {
        margin-top: 10px - 2;
    }
  }

  .subtitle + p {
    margin-top: 10px;
    @include media-query($on-pad) {
        margin-top: 10px - 2;
    }
  }

  figure,
  div > pre.highlight {
    margin-top: 52px;
    @include media-query($on-pad) {
        margin-top: 52px - 8;
    }
  }

  blockquote + figure,
  p + figure,
  blockquote + div > pre.highlight,
  p + div > pre.highlight {
    margin-top: 43px;
    @include media-query($on-pad) {
        margin-top: 43px - 6;
    }
  }

  h2 + figure,
  h2 + div > pre.highlight {
    margin-top: 46px;
    @include media-query($on-pad) {
        margin-top: 46px - 6;
    }
  }

  h3 + figure,
  h3 + div > pre.highlight {
    margin-top: 44px;
    @include media-query($on-pad) {
        margin-top: 44px - 6;
    }
  }

  h4 + figure,
  h4 + div > pre.highlight {
    margin-top: 44px;
    @include media-query($on-pad) {
        margin-top: 44px - 6;
    }
  }

  hr {
    box-sizing: content-box;
    height: 0;
    display: block;
    border: 0;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 42px;
    @include media-query($on-pad) {
        margin-top: 52px - 8;
        margin-bottom: 42px - 6;
    }

    &:before {
      content: '...';
      display: inline-block;
      margin-left: .6em;
      color: rgba(0,0,0,.6);
      position: relative;
      top: -30px;
      font-family: Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 400;
      font-style: italic;
      font-size: 28px;
      letter-spacing: .6em;
    }
  }
}
