
  <!-- popover -->
<!--   <div class="popOverContainer" id="sharePopOver" style="display: none;">
    <div class="popOver">
      <ul class="list">
        <li class="list-item">
          <button class="btn btn--icon btn--iconAndLabel">
            {% include svg-icon.html icon="share" size="21" %}
            <span>ss</span>
          </button>
        </li>
        <li class="list-item">
          <button class="btn btn--icon btn--iconAndLabel">
            {% include svg-icon.html icon="share" size="21" %}
            <span>ss</span>
          </button>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- immerseFooter -->
<!--   <div class="postActionsBar">
    <div class="postActionsBar-container">
      <div class="row postActionsFooter postActionsFooter--affixed is-hidden" id="postActionsBar">
        <div class="postActions u-cf">
          <div class="u-fr">
            <button class="btn btn--icon" title="share this post on other sites" id="shareBtnOnBar">
              {% include svg-icon.html icon="share" size="29" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->


<!--   <div class="row postActionsFooter" id="postActionsFooter">
    <div class="postActions  u-cf">
      <div class="u-fr">
        <button class="btn btn--icon" title="share this post on other sites" id="shareBtn">
          {% include svg-icon.html icon="share" size="sm" %}
        </button>
      </div>
    </div>
  </div> -->

