<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include foldHeader.html %}

    <div class="page-content">
      <div class="wrapper" >
        <article class="post main-post" itemscope itemtype="http://schema.org/BlogPosting">
          <header>
            {% include post-header.html %}
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

          <footer>
            {% include post-footer.html %}
          </footer>
        </article>
      </div>
    </div>

    <div class="wrapper" >
      {% include commet.html %}
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/post.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
